.top{
  height: 400px;
  background: #009ef0;
  padding-top: 100px;
}
.bottom{
  height: 400px;
  background:#ddd;
  padding-top: 100px;
}
.postBody{
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: #eee;
  box-shadow: 0 0 3px #ccc;
  position: relative;
}
.likeNum{
  position: absolute;
  right: 20px;
  bottom:20px;
  display: block;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  background: #E91E63;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.work{
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 3px 3px 3px #ccc;
}
